
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<main>
    <div class="dashboard-container">

        <div class="page-title">
            <i class="fa fa-dashboard" aria-hidden="true"></i> Dashboard
        </div>

        <div class="welcome-message">
            Welcome To Quick<span class="clr-red">POS</span>
        </div>
    </div>

</main>